{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-dotpay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
            <h1><i class="fa fa-credit-card"></i> {{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				  <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
        </div>
    </div>
    <div class="container-fluid">
		<div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_description }}</div>
			{% if error.error_warning %}
				<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.error_warning }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endif %}
			<div class="card">
				<div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}
<img src="{{ constant('HTTP_SERVER') }}../extension/dotpay/image/dotpay.webp">
</div>
				<div class="card-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-dotpay" class="form-horizontal">
						<div class="row mb-3 required">
							<label class="col-sm-2 col-form-label" for="entry-display-name"><span data-toggle="tooltip" title="{{ help_display_name_hint }}">{{ entry_display_name }}</span></label>
							<div class="col-sm-10">
								<input type="text" name="payment_dotpay_display_name" value="{{ dotpay_display_name }}" placeholder="{{ entry_display_name }}" id="dotpay_display_name" class="form-control"/>
								{% if error_display_name %}
									<div class="text-danger">{{ error_display_name }}</div>
								{% endif %}
							</div>
						</div>



						<div class="row mb-3 required">
							<label class="col-sm-2 col-form-label" for="entry-engineurl"><span data-toggle="tooltip" title="{{ help_api_key_hint }}">{{ entry_engineurl }}</span></label>
							<div class="col-sm-10">
								<input type="text" name="payment_dotpay_engineurl" value="{{ dotpay_engineurl }}" placeholder="{{ entry_engineurl_placeholder }}" id="dotpay_engineurl" class="form-control"/>
								{% if error_engineurl %}
									<div class="text-danger">{{ error_engineurl }}</div>
								{% endif %}
							</div>
						</div>



						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-order-status">{{ entry_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_order_status_id" id="dotpay_order_status_id" class="form-select">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
										 {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
										 {% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-order-status">{{ entry_callback_success_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_callback_success_order_status_id" id="dotpay_callback_success_order_status_id" class="form-select">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_callback_success_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
										 {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
										{% endif %}
									{% endfor %}

								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="entry-callback-order-status">{{ entry_callback_failed_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_callback_failed_order_status_id" id="dotpay_callback_failed_order_status_id" class="form-control">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_callback_failed_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
									   {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
	  									{% endif %}
									{% endfor %}

								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="entry-callback-expired-order-status">{{ entry_callback_expired_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_callback_expired_order_status_id" 
									id="dotpay_callback_expired_order_status_id" class="form-control">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_expired_callback_expired_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
									   {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
	  									{% endif %}
									{% endfor %}

								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="entry-callback-notenough-order-status">{{ entry_callback_notenough_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_callback_notenough_order_status_id" 
									id="dotpay_callback_notenough_order_status_id" class="form-control">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_callback_notenough_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
									   {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
	  									{% endif %}
									{% endfor %}

								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="entry-callback-cancel-order-status">{{ entry_callback_cancel_order_status }}</label>
							<div class="col-sm-10">
								<select name="payment_dotpay_callback_cancel_order_status_id" 
									id="dotpay_callback_cancel_order_status_id" class="form-control">
									{% for order_status in order_statuses %}
										{% if order_status.order_status_id  ==  dotpay_callback_cancel_order_status_id %}
											<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
									   {% else %}
											<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
	  									{% endif %}
									{% endfor %}

								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
							<div class="col-sm-10">
							  <div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="payment_dotpay_status" value="0"/>
								<input type="checkbox" name="payment_dotpay_status" value="1" id="input-status" class="form-check-input"{% if dotpay_status %} checked{% endif %}/>
							  </div>
							</div>
						</div>
<!--
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
							<div class="col-sm-10">
							  <input type="text" name="payment_dotpay_sort_order" value="{{ dotpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
							</div>
						</div>
-->
					</form>
				</div>
			</div>
        </div>
    </div>
</div>
<script type="text/javascript">

// alert('/admin/view/template/payment/dotpay.twig');

</script>
{{ footer }}